$diameter: 400px;
$radius: ($diameter/2);

.image-cropper-create {
    width: $diameter;
    height: $diameter;
    position: relative;
    border: 2px solid white;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
    overflow: hidden;
}

.my-picture-create {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: auto;
}