.mingle-login-body{
    background-image: url('/login-image.png'); 
    background-color: #444;
    background-size: cover;
    
}

.mingle-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 3.5em;
    vertical-align: center;
}

.vertical-offset-100{
    padding-top:100px;
}