$header-height: 70px;
$tab-top: 40px;
$tab-height: $header-height - $tab-top;
$search-size: 39px;
$search-top: ($header-height / 2) - ($search-size / 2);

$diameter: 550px;
$radius: $diameter*0.5;

.image-cropper-profile {
    width: $diameter;
    height: $diameter;
    position: relative;
    border: 2px solid white;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
    overflow: hidden;
}

.my-picture-profile {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: auto;
}


.navbar {
  background-color: lightgray;
}

#navbar {
  background-color: lightgray;
}

#profile {
  max-width: 500px;
  min-width: 200px;
  height: 70px;
  position: absolute;
  right: 2%;
}

#log-out {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 0px;
}

#log-out:hover {
  color: rgba(255, 255, 255, 0.3);
}

#name {
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  position: absolute;
  top: 15px;
  right: 0px;
}


#mingle-navbar {
  border-radius: 0px;
  border: 0px solid transparent;
  width: 100%;
  background-color: #1E91FA;
  height: 70px;
  position: fixed;
  overflow-y: hidden;
}