.page-container-register{
    background-image: url('/mingle-register-image.png');
    width: auto;
    height:100%;
    background-size: cover;
}

.mingle-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 4.2em;
    vertical-align: center;
    text-align: center;
}

.vertical-offset-100{
    padding-top:100px;
}

html, body, .container-fluid, .side-panel {
    height: 100%;
    padding: 0px;
}

.register-background{
    background: #002050   ;
    opacity: .95;
    height: 100%;
    width: auto;
    padding: 0px;
    // background-size: cover;
}