$diameter: 200px;
$radius: ($diameter/2);

.image-cropper-results {
    width: $diameter;
    height: $diameter;
    position: relative;
    border: 2px solid white;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
    overflow: hidden;
}

.my-picture-results {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.mingle-bio {
    font-family: 'Segoe UI';
    font-weight: lighter;
}

h2 {
    font-family: 'Segoe UI';
    font-weight: lighter;
}
h4 {
    font-family: 'Segoe UI';
    font-weight: lighter;
}

.profile-box{
    padding: 10px;
}